body {
    background-color: #222;
    color: #eee;
    margin: 0;
}

#top-bar {
  background-color: #333;
  display: flex;
  align-items: center;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  border: #716e6e;
  z-index: 10;
  justify-content: flex-end;
}

#account-name {
  margin-right: 10px;

}

#settings-button {
  margin-right: 10px;
}

#container {
  display: flex;
}

#sidebar {
    background-color: #333;
    padding: 10px;
    border-right: 1px solid #ccc;
}

#sidebar ul {
    list-style-type: none;
    padding: 0;
}

#sidebar li {
    padding: 8px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

#game-area {
  left: 0;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  padding: 10px;
}

.window {
    border: 2px solid #ccc; 
    width: 300px; 
    margin: 10px; 
    position: absolute; 
    background-color: #333; 
    color: #eee; 
    -webkit-app-region: drag;
  }
  
  .header {
    background-color: #222; 
    padding: 10px; 
    cursor: move; 
    -webkit-app-region: no-drag;
  }
  
  .content {
    padding: 10px; 
  }

  .collapse-button {
    float: right;
    width: 10px;
    height: 15px;
  }